.body {
    -fx-background-image: url("../images/floor.png");
}
.finishBody{
    -fx-background-color: white;
    -fx-alignment: center;
}

.lblStatusBar{
    -fx-text-fill: black; -fx-font-weight: bold;
}

.statusBar{
    -fx-background-color: white;
}
.pauseBody{
    -fx-background-color: white;
    -fx-alignment: center;
}

.title{
    -fx-font-size: 2em;
    -fx-font-weight: bold;
}