.body {
    -fx-background-image: url("../images/floor.png");
}
.finishBody{
    -fx-min-width: 75%;
    -fx-max-height: 60%;
    -fx-background-color: white;
}

.btnBox{
    -fx-min-width: 100%;
    -fx-min-height: 100%;
}